<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Clockd & Loaded Checker</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Clockd & Loaded</h1>
  <p>Upload your modified image to check if all timestamps are correct.</p>

  <form id="uploadForm" enctype="multipart/form-data">
    <input type="file" id="imageFile" accept=".jpg,.jpeg" required />
    <button type="submit">Check File</button>
  </form>

  <div id="result"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
